<%
let warDate = path.split("/").pop();
let rank = 0, my_clan = undefined;
for (let clan of war['standings']) {
    ++rank;
    if (clan['tag'] === clan_info['tag']) {
        my_clan = clan;
        break;
    }
}
%>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>NEMO CLAN | HOME</title>

    <!-- Site Setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name=theme-color" content="#37474f">

    <!-- Site Information -->
    <meta name="description" content="클래시 로얄 NEMO 클랜 | 전쟁일 기록">
    <link rel="canonical" href="https://nemoclan.ml<%- path %>">
    <meta property="al:web:url" content="https://nemoclan.ml<%- path %>">

    <!-- open graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="클래시 로얄: NEMO 클랜 | 전쟁일 기록">
    <meta property="og:description" content="<%- (new Date(warDate * 1000)).toLocaleDateString() %>에 종료된 전쟁에 대한 기록">
    <meta property="og:image" content="https://nemoclan.ml/images/logo.png">
    <meta property="og:url" content="https://nemoclan.ml<%- path %>">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">

    <link rel="stylesheet" href="/assets/main.css">
    <script src="/assets/main.js"></script>

    <style>
        html, body {
            height: 100%;
            color: white;
        }

        html::before {
            content: ' ';
            display: block;
            background-image: url('/images/background.png');
            background-position: center;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: fixed;
            z-index: -10;
        }

        table * {
            text-align: center;
            vertical-align: auto;
        }
    </style>


    <meta name="naver-site-verification" content="6ecbc4acfc7912f9f84978b91cbf0e7982716669"/>
</head>
<body>
<section style="min-height: 100%; position: relative;">

    <%- ejs.render(fs.readFileSync(__path.navbar_component, 'utf8')) %>
    <div class="container" style="margin-top: 50px;">

        <section class="info-section" id="articleList">
            <article class="article" id="article_1">
                <h6 style="font-size: 95%; font-weight: bold;">전쟁일 기록</h6>
                <hr color="white">
                <table class="table table-bordered table-hover" style="font-weight: bold; margin-top: 40px;">
                    <tbody style="vertical-align: inherit;">
                    <tr>
                        <td style="vertical-align: inherit;">전쟁 종료일</td>
                        <td style="vertical-align: inherit;"><%- (new Date(warDate * 1000)).toLocaleString() %></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: inherit;">순위</td>
                        <td style="vertical-align: inherit;"><%- rank %>등</td>
                    </tr>
                    <tr>
                        <td>획득 트로피</td>
                        <td><%- (my_clan['warTrophiesChange'] > 0 ? "+" : "") + my_clan['warTrophiesChange'] %></td>
                    </tr>
                    <tr>
                        <td>트로피 결과</td>
                        <td><%- my_clan['warTrophies'] %></td>
                    </tr>
                    <tr>
                        <td>총 참가자 수 (총 플레이 수)</td>
                        <td><%- my_clan['participants'] %> (<%- my_clan['battlesPlayed'] %>)</td>
                    </tr>
                    <tr>
                        <td>이긴 수 (크라운 수)</td>
                        <td><%- my_clan['wins'] %> (<%- my_clan['crowns'] %>)</td>
                    </tr>
                    <tr>
                        <td>클랜전 시즌</td>
                        <td><%- war['seasonNumber'] %>번째 시즌</td>
                    </tr>
                    </tbody>
                </table>


                <h6 style="font-size: 95%; font-weight: bold; margin-top: 40px;">클랜 목록</h6>
                <hr color="white">
                <table class="table border table-hover" style="font-weight: bold; margin-top: 40px;">
                    <thead>
                    <tr>
                        <th scope="col" style="vertical-align: inherit;">이름</th>
                        <th scope="col" style="vertical-align: inherit;">획득 트로피</th>
                        <th scope="col" style="vertical-align: inherit;">이긴 수 (플레이 수)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%
                    let result = "";
                    for (let clan of war['standings']) {
                        result += "<tr><th scope='row'>" + clan['name'] + "</th>";
                        result += "<td>" +  (clan['warTrophiesChange'] > 0 ? "+" : "") + clan['warTrophiesChange'] + "</td>";
                        result += "<td>" + clan['wins'] + " (" + clan['crowns'] + ")</td></tr>";
                    }
                    %>
                    <%- result %>
                    </tbody>
                </table>


                <h6 style="font-size: 95%; font-weight: bold; margin-top: 40px;">참가자 목록</h6>
                <hr color="white">
                <table class="table border table-hover" style="font-weight: bold; margin-top: 40px;">
                    <thead>
                    <tr>
                        <th scope="col" style="vertical-align: inherit;">이름</th>
                        <th scope="col" style="vertical-align: inherit;">카드 수집 (수집일 플레이 수)</th>
                        <th scope="col" style="vertical-align: inherit;">이긴 수 (플레이 수)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%
                    result = "";
                    for (let player of war['participants']) {
                        result += "<tr><th scope='row'>" + player['name'] + "</th>";
                        result += "<td>" + player['cardsEarned'] + " (" + player['collectionDayBattlesPlayed'] + ")</td>";
                        result += "<td>" + player['wins'] + " (" + player['battlesPlayed'] + ")</td></tr>";
                    }
                    %>
                    <%- result %>
                    </tbody>
                </table>
            </article>
        </section>
    </div>


    <%- ejs.render(fs.readFileSync(__path.copyright_component, 'utf8')); %>
</section>

</body>
</html>
